.block-section.consistency-section
  .row
    .col-md-12
      .quotation
        We ensure that all our solutions meet your requirement and are dictated by an uniform sense of consistency.
      %h2 The consistency in all our work!
      .note
        We employ a simple and sensible approach to ensure a recognizable consistency in everything we do!
  .blocks
    .consistency-block
      .body
        .title Desirable
        %ul
          %li We understand what the client requires.
          %li We present it in a way the user appreciates.
    .consistency-block
      .body
        .title Possible
        %ul
          %li We are concurrent with the latest technologies.
          %li We know what can be done and how to do it.
    .consistency-block
      .body
        .title Viable
        %ul
          %li We give insights to analyze and conceive your ideas effectively.
          %li We provide flexible solutions to suit your business needs.
  .row
    .col-md-12
      %h2
        Let’s Think
        %i.fa.fa-angle-right
        Plan
        %i.fa.fa-angle-right
        Innovate!
      .note
        We believe in the concept of visualizing an idea, structuring a path to realize it and applying our refreshing approaches to implement it.
  .blocks
    .consistency-block
      .body
        .title Think
        %ul
          %li We give valuable inputs to create better products and solutions.
          %li We explore all the paths required to provide stand out products and solutions.
    .consistency-block
      .body
        .title Plan
        %ul
          %li We give realistic estimates and plan accordingly !
          %li We do not compromise with our customers business !
          %li We do not miss deadlines!
    .consistency-block
      .body
        .title Innovate
        %ul
          %li We are always on the lookout to add freshness to our work.
          %li We innovate to evolve the way the industry works.