.footer-section
  .row
    .col-md-3
      %ul.list-inline
        %li
          %a{href: "https://www.facebook.com/pages/Amabyte-Technologies/1559708290931661", target: "_blank"}
            .facebook
        %li
          %a{href: "https://plus.google.com/b/101171060134859360223", target: "_blank"}
            .google-plus
        %li
          %a{href: "https://github.com/Amabyte", target: "_blank"}
            .github
    .col-md-6
    .col-md-3
      .creativecommons
        %a{:href => "http://creativecommons.org/licenses/by/4.0/", :rel => "license"}
          %img{:alt => "Creative Commons License", :src => "https://i.creativecommons.org/l/by/4.0/88x31.png", :style => "border-width:0"}