.footer-section
  .row
    .col-md-3
      %ul.list-inline
        %li
          %a{href: "#"}
            .facebook
        %li
          %a{href: "#"}
            .google-plus
        %li
          %a{href: "#"}
            .github
    .col-md-6
    .col-md-3
      .creativecommons
        %a{:href => "http://creativecommons.org/licenses/by/4.0/", :rel => "license"}
          %img{:alt => "Creative Commons License", :src => "https://i.creativecommons.org/l/by/4.0/88x31.png", :style => "border-width:0"}