.welcome
  .row
    .col-welcome
      .content
        =image_tag("logo-home.png", alt: "Amabyte Logo", :class => "logo")
        .cname Amabyte
        .intro
          .h-f-t
            Amabyte delivers reliable,elegant and innovative solutions to all your web , desktop and android requirements.
          .v-f-t
            Amabyte do something somthing and something