.block-section
  .row
    .col-md-12
      .quotation
        The development approach we choose to all these below mentioned technology we do by keeping users in mind
      %h2 What we do?
      .blocks
        .tech-block
          .body
            %i.android-logo
            .title Android Apps
            %ul
              %li Apps that enrich the user experience.
              %li Aesthetic designs enthrall the masses.
              %li Apps to leverage your business.
        .tech-block
          .body
            %i.desktop-logo
            .title Desktop Solutions
            %ul
              %li Dependable solutions for the PC.
              %li Elegant solutions that meet your needs.
              %li Efficient and easy to use products.
        .tech-block.full
          .body
            %i.web-logo
            .title Web Solutions
            %ul
              %li Weaving beautiful products on the web.
              %li Products that exploit the vastness of the web.
              %li Smart and Professional designs.
      .row
        .col-md-12
          %a.wheel-button.ne{:href => "#technologies", title: "Technologies"}
            =image_tag("sprite/logo70.png", alt: "Technologies")
          %ul#technologies.wheel
            %li.item
              %a{:href => "http://www.android.com/", target: "_blank", title: "Android"}
                .sprite-android
            %li.item
              %a{:href => "https://angularjs.org/", target: "_blank", title: "AngularJS"}
                .sprite-angularjs
            %li.item
              %a{:href => "http://backbonejs.org/", target: "_blank", title: "Backbone.js"}
                .sprite-backbone
            %li.item
              %a{:href => "http://getbootstrap.com/", target: "_blank", title: "Bootstrap"}
                .sprite-bootstrap
            %li.item
              %a{:href => "http://en.wikipedia.org/wiki/HTML5", target: "_blank", title: "HTML5"}
                .sprite-html5
            %li.item.remove-mob
              %a{:href => "http://lesscss.org/", target: "_blank", title: "Less CSS"}
                .sprite-less
            %li.item
              %a{:href => "http://nodejs.org/", target: "_blank", title: "Node.js"}
                .sprite-nodejs
            %li.item
              %a{:href => "http://rubyonrails.org/", target: "_blank", title: "Ruby on Rails"}
                .sprite-ror
            %li.item.remove-mob
              %a{:href => "http://sass-lang.com/", target: "_blank", title: "Sass CSS"}
                .sprite-sass
            %li.item
              %a{:href => "http://en.wikipedia.org/wiki/Swing_(Java)", target: "_blank", title: "JAVA Swing"}
                .sprite-swing