.index
  .welcome
    .row
      .col-welcome
        .content
          =image_tag("logo-home.png", alt: "Amabyte Logo", :class => "logo")
          .cname Amabyte
          .intro
            .h-f-t
              Amabyte delivers reliable,elegant and innovative solutions to all your web , desktop and android requirements.
            .v-f-t
              Amabyte do something somthing and something
  =render "main/navbar"
  .block-section
    .row
      .col-md-12
        .quotation
          The development approach we choose to all these below mentioned technology we do by keeping users in mind
        %h2 What we do?
        .blocks
          .tech-block
            .body
              %i.android-logo
              .title Android Apps
              %ul
                %li Apps that enrich the user experience.
                %li Aesthetic designs enthrall the masses.
                %li Apps to leverage your business.
          .tech-block
            .body
              %i.desktop-logo
              .title Desktop Solutions
              %ul
                %li Dependable solutions for the PC.
                %li Elegant solutions that meet your needs.
                %li Efficient and easy to use products.
          .tech-block.full
            .body
              %i.web-logo
              .title Web Solutions
              %ul
                %li Weaving beautiful products on the web.
                %li Products that exploit the vastness of the web.
                %li Smart and Professional designs.
        .row
          .col-md-12
            %a.wheel-button.ne{:href => "#technologies", title: "Technologies"}
              =image_tag("sprite/logo70.png", alt: "Technologies")
            %ul#technologies.wheel
              %li.item
                %a{:href => "http://www.android.com/", target: "_blank", title: "Android"}
                  .sprite-android
              %li.item
                %a{:href => "https://angularjs.org/", target: "_blank", title: "AngularJS"}
                  .sprite-angularjs
              %li.item
                %a{:href => "http://backbonejs.org/", target: "_blank", title: "Backbone.js"}
                  .sprite-backbone
              %li.item
                %a{:href => "http://getbootstrap.com/", target: "_blank", title: "Bootstrap"}
                  .sprite-bootstrap
              %li.item
                %a{:href => "http://en.wikipedia.org/wiki/HTML5", target: "_blank", title: "HTML5"}
                  .sprite-html5
              %li.item.remove-mob
                %a{:href => "http://lesscss.org/", target: "_blank", title: "Less CSS"}
                  .sprite-less
              %li.item
                %a{:href => "http://nodejs.org/", target: "_blank", title: "Node.js"}
                  .sprite-nodejs
              %li.item
                %a{:href => "http://rubyonrails.org/", target: "_blank", title: "Ruby on Rails"}
                  .sprite-ror
              %li.item.remove-mob
                %a{:href => "http://sass-lang.com/", target: "_blank", title: "Sass CSS"}
                  .sprite-sass
              %li.item
                %a{:href => "http://en.wikipedia.org/wiki/Swing_(Java)", target: "_blank", title: "JAVA Swing"}
                  .sprite-swing
  .block-section
    .row
      .col-md-12
        .quotation
          We deliver products and solutions which have an unique blend of creativity , dedication , elegance and finesse.
        %h2 How do we do it?
    .blocks
      .block
        .body
          .title Creativity
          %ul
            %li We breathe Innovation, We exist because of our desire to innovate!
            %li We brOut of the box thinking.
            %li Vibrant and exciting problem solving techniques.
      .block
        .body
          .title Dedication
          %ul
            %li We are driven by the desire to be the best.
            %li Our products are a reflection of our commitment to both the client and the user.
            %li We wish to work with the best and deliver the best products and solutions.
      .block
        .body
          .title Elegance
          %ul
            %li We deliver exquisite products.
            %li We infuse class into our products and solutions.
            %li Attractive and stylish designs are our bread and butter.
      .block
        .body
          .title Finesse
          %ul
            %li We provide competent products and solutions.
            %li Each product is a work of skill and craftsmanship!
            %li Adept products every single time.
  .block-section.consistency-section
    .row
      .col-md-12
        .quotation
          We ensure that all our solutions meet your requirement and are dictated by an uniform sense of consistency.
        %h2 The consistency in all our work!
        .note
          We employ a simple and sensible approach to ensure a recognizable consistency in everything we do!
    .blocks
      .consistency-block
        .body
          .title Desirable
          %ul
            %li We understand what the client requires.
            %li We present it in a way the user appreciates.
      .consistency-block
        .body
          .title Possible
          %ul
            %li We are concurrent with the latest technologies.
            %li We know what can be done and how to do it.
      .consistency-block
        .body
          .title Viable
          %ul
            %li We give insights to analyze and conceive your ideas effectively.
            %li We provide flexible solutions to suit your business needs.
    .row
      .col-md-12
        %h2
          Let’s Think
          %i.fa.fa-angle-right
          Plan
          %i.fa.fa-angle-right
          Innovate!
        .note
          We believe in the concept of visualizing an idea, structuring a path to realize it and applying our refreshing approaches to implement it.
    .blocks
      .consistency-block
        .body
          .title Think
          %ul
            %li We give valuable inputs to create better products and solutions.
            %li We explore all the paths required to provide stand out products and solutions.
      .consistency-block
        .body
          .title Plan
          %ul
            %li We give realistic estimates and plan accordingly !
            %li We do not compromise with our customers business !
            %li We do not miss deadlines!
      .consistency-block
        .body
          .title Innovate
          %ul
            %li We are always on the lookout to add freshness to our work.
            %li We innovate to evolve the way the industry works.
  .block-section.contact-us-section
    .row
      .col-md-12
        %h2
          Contact Us
    .row
      .contact-column
        %form.contact-us{action: "#"}
          .form-group
            %label.sr-only{for: "contact-name"} Name
            %input#contact-name.form-control.contact{name: "name", placeholder: "Name", type: "text", "data-bv-notempty" => "true", "data-bv-notempty-message" => "Name required"}
          .form-group
            %label.sr-only{for: "contact-email"} Email/Phone
            %input#contact-email.form-control.contact{name: "email", placeholder: "Email/Phone", type: "text", "data-bv-notempty" => "true", "data-bv-notempty-message" => "Email/Phone required"}
          .form-group
            %label.sr-only{for: "contact-message"} Message
            %textarea#contact-message.form-control.contact{name: "message", placeholder: "Message", rows: 6, "data-bv-notempty" => "true", "data-bv-notempty-message" => "Message required"}
          %button.btn.btn-primary.btn-lg{type: "submit"}
            Send Message
  .footer-section
    .row
      .col-md-3
        %ul.list-inline
          %li
            %a{href: "#"}
              .facebook
          %li
            %a{href: "#"}
              .google-plus
          %li
            %a{href: "#"}
              .github
      .col-md-6
      .col-md-3
        .creativecommons
          %a{:href => "http://creativecommons.org/licenses/by/4.0/", :rel => "license"}
            %img{:alt => "Creative Commons License", :src => "https://i.creativecommons.org/l/by/4.0/88x31.png", :style => "border-width:0"}