.index
  .welcome
    .row
      .col-welcome
        =image_tag("logo-home.png", alt: "Amabyte Logo", :class => "logo")
        .cname Amabyte
        .intro
          Amabyte delivers reliable,elegant and innovative solutions to all your web , desktop and android requirements.
  =render "main/navbar"