.index
  .welcome
    .row
      .col-welcome
        .content
          =image_tag("logo-home.png", alt: "Amabyte Logo", :class => "logo")
          .cname Amabyte
          .intro
            .h-f-t
              Amabyte delivers reliable,elegant and innovative solutions to all your web , desktop and android requirements.
            .v-f-t
              Amabyte do something somthing and something
  =render "main/navbar"
  .block-section
    .row
      .col-md-12
        .quotation
          The development approach we choose to all these below mentioned technology we do by keeping users in mind
        %h2 What we do?
        .blocks
          .tech-block
            .body
              %i.android-logo
              .title Android Apps
              %ul
                %li Apps that enrich the user experience.
                %li Aesthetic designs enthrall the masses.
                %li Apps to leverage your business.
          .tech-block
            .body
              %i.desktop-logo
              .title Desktop Solutions
              %ul
                %li Dependable solutions for the PC.
                %li Elegant solutions that meet your needs.
                %li Efficient and easy to use products.
          .tech-block.full
            .body
              %i.web-logo
              .title Web Solutions
              %ul
                %li Weaving beautiful products on the web.
                %li Products that exploit the vastness of the web.
                %li Smart and Professional designs.
  .block-section
    .row
      .col-md-12
        .quotation
          We deliver products and solutions which have an unique blend of creativity , dedication , elegance and finesse.
        %h2 How do we do it?
    .blocks
      .block
        .body
          .title Creativity
          %ul
            %li We breathe Innovation, We exist because of our desire to innovate!
            %li We brOut of the box thinking.
            %li Vibrant and exciting problem solving techniques.
      .block
        .body
          .title Dedication
          %ul
            %li We are driven by the desire to be the best.
            %li Our products are a reflection of our commitment to both the client and the user.
            %li We wish to work with the best and deliver the best products and solutions.
      .block
        .body
          .title Elegance
          %ul
            %li We deliver exquisite products.
            %li We infuse class into our products and solutions.
            %li Attractive and stylish designs are our bread and butter.
      .block
        .body
          .title Finesse
          %ul
            %li We provide competent products and solutions.
            %li Each product is a work of skill and craftsmanship!
            %li Adept products every single time.
  .technology-section
    .row
      .tech-column
        %a.wheel-button.ne{:href => "#wheel2"}
          %span +
        %ul#wheel2.wheel
          %li.item
            %a{:href => "#home"}
              .sprite-android
          %li.item
            %a{:href => "#home"}
              .sprite-angularjs
          %li.item
            %a{:href => "#home"}
              .sprite-backbone
          %li.item
            %a{:href => "#home"}
              .sprite-bootstrap
          %li.item
            %a{:href => "#home"}
              .sprite-html5
          %li.item
            %a{:href => "#home"}
              .sprite-less
          %li.item
            %a{:href => "#home"}
              .sprite-nodejs
          %li.item
            %a{:href => "#home"}
              .sprite-ror
          %li.item
            %a{:href => "#home"}
              .sprite-ror
          %li.item
            %a{:href => "#home"}
              .sprite-sass
          %li.item
            %a{:href => "#home"}
              .sprite-swing