.index
  @extend .text-center
  .welcome
    @extend .container-fluid
    color: white
    padding-top: $spacing
    padding-bottom: $spacing
    background: $primary-color
    .col-welcome
      +make-sm-column-offset(2)
      +make-sm-column(8)
      width: 100%
      display: table
      .content
        display: table-cell
        vertical-align: middle
    .logo
      @extend .img-responsive
      +center-block
    font-weight: lighter
    .cname
      font-size: 80px
      +respond-to(only-tab)
        font-size: 70px
      +respond-to(mob)
        font-size: 60px
    .intro
      font-size: 30px
      +respond-to(only-tab)
        font-size: 25px
      +respond-to(mob)
        font-size: 20px
  .block-section
    @extend .container-fluid
    .quotation
      margin: $spacing/2 inherit
      width: 80%
      +respond-to(mob)
        width: 100%
      font-weight: lighter
      padding: $spacing/2
      font-size: 24px
      font-style: italic
      +respond-to(only-tab)
        font-size: 21px
      +respond-to(mob)
        font-size: 16px
      +center-block
      =after-before
        font-size: 30px
        color: adjust-lightness($black, 50)
        font-style: italic
        position: relative
        +respond-to(only-tab)
          font-size: 27px
        +respond-to(mob)
          font-size: 20px
      &:before
        +fa-make(quote-left)
        margin-right: $spacing/2
        +after-before
        top: -($spacing/2)
      &:after
        content: $fa-var-quote-right
        +fa-make(quote-right)
        margin-left: $spacing/2
        +after-before
        top: $spacing/2
    h2
      color: $black
    .blocks
      +make-row
      padding: $spacing $spacing*2
      +respond-to(mob)
        padding: initial
      ul
        @extend .list-unstyled
        margin-left: $spacing/2
        li
          margin-bottom: $spacing/4
          &:last-child
            margin-bottom: initial
      .title
        @extend h3
        margin-top: $spacing/2
      .block
        +make-md-column(6)
        margin-bottom: $spacing/2
        .body
          padding: $spacing/2
          background: $white
          border: 1px solid adjust-lightness($white, -3)
          +box-shadow(0px 2px 2px -1px rgba(black, 0.18))
          @extend .text-left
      .tech-block
        +make-md-column(4)
        +respond-to
          +make-sm-column(6)
          &.full
            +make-sm-column(12)
        margin-bottom: $spacing
        .body
          =logo
            font-size: 170px
            +respond-to(only-tab)
              font-size: 150px
            +respond-to(mob)
              font-size: 120px
          .android-logo
            +fa-make(android)
            +logo
          .android-logo
            +fa-make(android)
            +logo
          .desktop-logo
            +fa-make(desktop)
            +logo
          .web-logo
            +fa-make(globe)
            +logo