.index
  @extend .text-center
  .welcome
    @extend .container-fluid
    color: white
    padding-top: $spacing
    padding-bottom: $spacing
    background: $primary-color
    .col-welcome
      +make-sm-column-offset(2)
      +make-sm-column(8)
      width: 100%
      display: table
      .content
        display: table-cell
        vertical-align: middle
    .logo
      @extend .img-responsive
      +center-block
    font-weight: lighter
    .cname
      font-size: 80px
      +respond-to(only-tab)
        font-size: 70px
      +respond-to(mob)
        font-size: 60px
    .intro
      font-size: 30px
      +respond-to(only-tab)
        font-size: 25px
      +respond-to(mob)
        font-size: 20px
  .block-section
    @extend .container-fluid
    padding-top: $spacing
    padding-bottom: $spacing 
    .quotation
      margin: $spacing/2 inherit
      width: 80%
      +respond-to(mob)
        width: 100%
      font-weight: lighter
      padding: $spacing/2
      font-size: 24px
      font-style: italic
      +respond-to(only-tab)
        font-size: 21px
      +respond-to(mob)
        font-size: 16px
      +center-block
      =after-before
        font-size: 30px
        color: adjust-lightness($black, 50)
        font-style: italic
        position: relative
        +respond-to(only-tab)
          font-size: 27px
        +respond-to(mob)
          font-size: 20px
      &:before
        +fa-make(quote-left)
        margin-right: $spacing/2
        +after-before
        top: -($spacing/2)
      &:after
        content: $fa-var-quote-right
        +fa-make(quote-right)
        margin-left: $spacing/2
        +after-before
        top: $spacing/2
    h2
      color: $black
      i
        color: adjust-lightness($black, 30)
    .note
      font-variant: small-caps
      font-size: 17px
      +respond-to
        margin-bottom: $spacing/2
      +respond-to(only-tab)
        font-size: 16px
      +respond-to(mob)
        font-size: 14px
    .blocks
      +make-row
      padding: $spacing $spacing*2
      +respond-to(mob)
        padding: initial
      ul
        @extend .list-unstyled
        margin-left: $spacing/2
        li
          margin-bottom: $spacing/4
          &:last-child
            margin-bottom: initial
      .title
        @extend h3
        margin-top: $spacing/2
      .block
        +make-md-column(6)
        margin-bottom: $spacing/2
        .body
          padding: $spacing/2
          background: $white
          border: 1px solid adjust-lightness($white, -3)
          +box-shadow(0px 2px 2px -1px rgba(black, 0.18))
          @extend .text-left
      .tech-block
        +make-md-column(4)
        +respond-to
          +make-sm-column(6)
          &.full
            +make-sm-column(12)
        margin-bottom: $spacing
        .body
          padding: $spacing/2
          .logo
            font-size: 170px
            color: $black
            +respond-to(only-tab)
              font-size: 150px
            +respond-to(mob)
              font-size: 120px
          +respond-to(desk)
            &:hover
              border: 1px solid adjust-lightness($white, -3)
              +box-shadow(0px 2px 2px -1px rgba(black, 0.18))
              .logo
                color: $primary-color
          .android-logo
            +fa-make(android)
            @extend .logo
          .desktop-logo
            +fa-make(desktop)
            @extend .logo
          .web-logo
            +fa-make(globe)
            @extend .logo
    &.consistency-section
      .blocks
        .consistency-block
          +make-md-column(12)
          margin-bottom: $spacing/2
    &.contact-us-section
      background: adjust-lightness($white, -3)
      .contact-column
        padding: $spacing
        +make-md-column-offset(4)
        +make-md-column(4)
    =tech-logo
      background: $white
      +border-radius(50%)
    .wheel-button
      &.active
        img
          +filter(grayscale(0%))
      img
        +tech-logo
        +box-shadow(0px 1px 5px -1px rgba(black, 0.18))
        +filter(grayscale(100%))
    .wheel
      li
        +tech-logo
        width: 70px
        height: 70px
        +box-shadow(0px 3px 10px -1px rgba(black, 0.18))
        &:hover
          +box-shadow(0px 5px 15px -1px rgba(black, 0.18))
  .footer-section
    color: $white
    @extend .container-fluid
    background: $primary-color
    padding-top: $spacing/2
    padding-bottom: $spacing/2
    %a
      color: $white !important
      text-decoration: underline
    .list-inline
      +respond-to(desk)
        margin-bottom: 0px
    .social
      width: $spacing*1.5
      height: $spacing*1.5
      color: $white
      font-size: 20px
      padding-top: 5px
      &:hover
        +opacity(.8)
    .facebook
      +fa-make(facebook)
      @extend .social
      background: #48649F
    .google-plus
      +fa-make(google-plus)
      @extend .social
      background: #D73D32
    .github
      +fa-make(github)
      @extend .social
      background: $black
    .creativecommons
      @extend .pull-right
      +respond-to
        float: none !important